@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

@media (hover: hover) {
}

/* MOBILE-L */
@media (max-width: 425px) {
}

/* TABLET */
@media (max-width: 768px) {
}

/* LAPTOP */
@media (max-width: 1024px) {
}

/* LAPTOP-L */
@media (max-width: 1440px) {
}
